
* {
  box-sizing: border-box;
}

.wrapper {
  margin-inline: auto;
  width: 450px;
}
.container {
  display: grid;
  grid-template-columns: 60px 50px 60px 90px 60px 60px 1fr;
  grid-template-rows: 60px 80px 90px 40px 40px 40px 40px;
  border: 4px solid black;

  div {
    border: 4px solid black;
  }
  .cell1 {
    grid-column: span 2;
  }
  .cell2 {
    grid-column: span 2;
  }
  .cell3 {
    grid-column: span 2;
    background-color: #FFD915;
  }
  .cell4 {
    grid-row: span 4;

  }
  .cell6 {
    grid-row: span 2;
    grid-column: span 3;
    background-color: #F7150B;
  }
  .cell7 {
    grid-column: span 2;
    background-color: #FFD915;
  }
  .cell8 {
    grid-row: span 2;
  }
  .cell11 {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #000000;
  }
  .cell13 {
    grid-column: span 2;
  }
  .cell16 {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #0D0AB6;
  }
  .cell17 {
    grid-row: span 3;
    background-color: #F7150B;
  }
  .cell14 {
    grid-row: span 3;
    background-color: #FFD915;
  }
  .cell18 {
    grid-row: span 2;
    grid-column: span 2;
  }
  .cell19 {
    background-color: #000000;
  }
  .cell20 {
    grid-column: span 3;
  }

}



