
* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  height: 500px;
  border: 2px solid #605e5e;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
}
.circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #ff5e5e;
  border: 2px solid #605e5e;
  animation: move 10s infinite linear;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(365px, 215px);
  }
  50% {
    transform: translate(0, 430px);
  }
  75% {
    transform: translate(-365px, 215px);
  }

  100% {
    transform: translate(0, 0);
  }
}

