@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-background: #EEEFF1;
    --secondary-background: #34547A;
    --primary-font: 'Roboto';
    --paragraph-color: #727272;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font), sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
    grid-template-rows: repeat(5, auto);
}
[class$="__grid"] {
    padding-block: 100px;
}
.header__grid {
    background-color: var(--primary-background);
    padding-block: 79px 141px;
}
.main-projects__grid {
    background-color: var(--secondary-background);
}
.footer__grid {
    background-color: var(--secondary-background);
}
.header__navigation ol {
    display: flex;
    gap: 42px;
    margin-bottom: 162px
}
.header__navigation ol li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.1em;
}

.header__navigation ol li a:hover{
    color: #34547A;
    font-weight: 500;
}
.header__content h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 60px;
}
.header__content p, .main__about p, .main__present p{
    color: var(--paragraph-color);
    width: 540px;
    line-height: 26px;
    margin-bottom: 65px;
    font-weight: 400;
}

.header__content button {
    background-color: var(--secondary-background);
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-block: 19px 20px;
    padding-inline: 41px;
}
.main__about, .main__present{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__about p, .main__present p{
    text-align: center;
}
.main__about h2, .main__present h2{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
.main-about__grid{
    padding-top: 112px;
}

.main__projects ul {
    display: flex;
    justify-content: space-between;
}

.main__projects h3 {
    color: #ffffff;
    font-size: 21px;
    margin-bottom: 10px;
}
.main__projects p {
    color: #ffffff;
    font-size: 16px;
}
.main__projects li div{
    margin-left: 70px;
}
.main__projects li{
    position: relative;
}
.main__projects li::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("../images/icon.svg");
    top: 0;
    left: 0;
}
.main__present h2{
    padding-bottom: 57px;
}
.footer__grid h3 {
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 20px;
}
.footer__grid p {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}
@media (max-width: 375px) {
    html {
        font-size: 10px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: repeat(5, auto);
    }

    [class$="__grid"], .header__grid .main-about__grid {
        padding-block: 20px;
    }
    .header__navigation ol {
        display: flex;
        gap: 1rem;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .header__navigation ol li a{
        font-size: 0.8rem;
    }
    .header__navigation ol li {
        border: 1px solid black;
        border-radius: 2px;
        padding: 2px;
    }

    .header__content h1{
        font-size: 3rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .header__content p, .main__about p, .main__present p{
        color: var(--paragraph-color);
        line-height: 2rem;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .header__content button {
        font-size: 2rem;
        padding-block: 5px;
        padding-inline: 10px;
        margin: 0 auto;
        display: block;
        border-radius: 5px;
    }

    .main__about h2, .main__present h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .main__projects ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .main__projects h3 {
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
    }
    .main__projects p {
        font-size: 1rem;
        text-align: center;
    }
    .main__projects li div{
        margin-left: 0;
    }
    .main__projects li{
        position: static;
    }
    .main__projects li::before{
        display: none;
    }

    .main__present h2 {
        padding-bottom: 0;
    }

    .main__video {
        display: none;
    }
    .footer__grid h3 {
        font-size: 2rem;
        padding-bottom: 5px;
    }
    .footer__grid p {
        font-size: 1rem;
    }
}
