*{
    margin: 0;
    padding: 0;
}
.container {
    margin-inline: auto;
    width: 500px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table td {
    border: 8px solid black;
    height: 60px;
}

caption {
    margin-block: 10px;
    font-size: 30px;
}

.yellow {
    background-color: #FFD915;
}

.red {
    background-color: #F7150B;
}

.blue {
    background-color: #0D0AB6;
}

.black {
    background-color: #000000;
}

.width-60 {
    width: 60px;
}

.width-40 {
    width: 40px;
}
.height-40 {
    height: 40px;
}