*{
    margin: 0;
    padding: 0;
}
.container {
    margin-inline: auto;
    width: min(100% - 60px, 960px);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table td {
    border: 1px solid black;
}

caption {
    margin-block: 10px;
    font-size: 30px;
}

.yellow {
    background-color: #FFD915;
}

.red {
    background-color: #F7150B;
}

.blue {
    background-color: #0D0AB6;
}

.black {
    background-color: #000000;
}