$main-font: 'Graphik LCG', sans-serif;
$main-fontColor: #000000;
$button-color: #FF6336;
$button-text-color: #ffffff;
$header-border-color: #CCCCCC;
$primary-cont-color: #FF9C7D;
$secondary-cont-color: #FFF8E4;
$bl-cont-color: #C9E8F2;
$cr-cont-color: #DABC98;
$footer-color: #EEEEEE;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;