*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.container{
  width:800px;
  height:500px;
  border:2px solid #605e5e;
  background-color:#d1d1d1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.circle{
  border-radius:50%;
  width:70px;
  height:70px;
  background-color:#ff5e5e;
  border:2px solid #605e5e;
  -webkit-animation:move 10s infinite linear;
          animation:move 10s infinite linear;
}

@-webkit-keyframes move{
  0%{
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  17%{
    -webkit-transform:translate(200px, 215px);
            transform:translate(200px, 215px);
  }
  34%{
    -webkit-transform:translate(365px, 0);
            transform:translate(365px, 0);
  }
  51%{
    -webkit-transform:translate(0, -215px);
            transform:translate(0, -215px);
  }
  68%{
    -webkit-transform:translate(-365px, 0);
            transform:translate(-365px, 0);
  }
  80%{
    -webkit-transform:translate(-200px, 215px);
            transform:translate(-200px, 215px);
  }
  to{
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

@keyframes move{
  0%{
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  17%{
    -webkit-transform:translate(200px, 215px);
            transform:translate(200px, 215px);
  }
  34%{
    -webkit-transform:translate(365px, 0);
            transform:translate(365px, 0);
  }
  51%{
    -webkit-transform:translate(0, -215px);
            transform:translate(0, -215px);
  }
  68%{
    -webkit-transform:translate(-365px, 0);
            transform:translate(-365px, 0);
  }
  80%{
    -webkit-transform:translate(-200px, 215px);
            transform:translate(-200px, 215px);
  }
  to{
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}