@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
:focus{
  outline:0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display:block;
}

body{
  line-height:1;
}

ol, ul{
  list-style:none;
}

blockquote, q{
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content:"";
  content:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration{
  -webkit-appearance:none;
  -moz-appearance:none;
}

input[type=search]{
  -webkit-appearance:none;
  -moz-appearance:none;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

textarea{
  overflow:auto;
  vertical-align:top;
  resize:vertical;
}
audio,
canvas,
video{
  display:inline-block;
  *display:inline;
  *zoom:1;
  max-width:100%;
}
audio:not([controls]){
  display:none;
  height:0;
}
[hidden]{
  display:none;
}
html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
a:focus{
  outline:thin dotted;
}
a:active,
a:hover{
  outline:0;
}
img{
  border:0;
  -ms-interpolation-mode:bicubic;
}
figure{
  margin:0;
}
form{
  margin:0;
}
fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}
legend{
  border:0;
  padding:0;
  white-space:normal;
  *margin-left:-7px;
}
button,
input,
select,
textarea{
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle;
}
button,
input{
  line-height:normal;
}
button,
select{
  text-transform:none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit]{
  -webkit-appearance:button;
  cursor:pointer;
  *overflow:visible;
}
button[disabled],
html input[disabled]{
  cursor:default;
}
input[type=checkbox],
input[type=radio]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding:0;
  *height:13px;
  *width:13px;
}
input[type=search]{
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
  border:0;
  padding:0;
}
textarea{
  overflow:auto;
  vertical-align:top;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}

html,
button,
input,
select,
textarea{
  color:#222;
}

::-moz-selection{
  background:#b3d4fc;
  text-shadow:none;
}

::selection{
  background:#b3d4fc;
  text-shadow:none;
}

img{
  vertical-align:middle;
}

fieldset{
  border:0;
  margin:0;
  padding:0;
}

textarea{
  resize:vertical;
}

.chromeframe{
  margin:0.2em 0;
  background:#ccc;
  color:#000;
  padding:0.2em 0;
}

*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

body{
  font-family:"Roboto", sans-serif;
  min-width:320px;
}

html{
  font-size:16px;
}

.container{
  display:grid;
  grid-template-columns:1fr 1100px 1fr;
  grid-template-rows:repeat(5, auto);
}

[class$=__grid]{
  padding-block:100px;
}

.header__grid{
  background-color:#EEEFF1;
  padding-block:79px 141px;
}

.main-projects__grid{
  background-color:#34547A;
}

.footer__grid{
  background-color:#34547A;
}
.footer__grid h3{
  font-size:21px;
  font-weight:500;
  color:#ffffff;
  padding-bottom:20px;
}
.footer__grid p{
  font-size:13px;
  font-weight:400;
  color:#ffffff;
}

.header__navigation ol{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:42px;
  margin-bottom:162px;
}
.header__navigation li a{
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
  font-weight:400;
  color:#000000;
  letter-spacing:0.1em;
}
.header__navigation li a:hover{
  color:#34547A;
  font-weight:500;
}

.header__content h1{
  font-size:48px;
  font-weight:500;
  margin-bottom:60px;
}
.header__content button{
  background-color:#34547A;
  border:none;
  color:#ffffff;
  font-size:16px;
  font-weight:400;
  letter-spacing:0.1em;
  padding-block:19px 20px;
  padding-inline:41px;
}
.header__content p{
  color:#727272;
  width:540px;
  line-height:26px;
  margin-bottom:65px;
  font-weight:400;
}

.main__about, .main__present{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.main__about p, .main__present p{
  color:#727272;
  width:540px;
  line-height:26px;
  margin-bottom:65px;
  font-weight:400;
  text-align:center;
}
.main__about h2, .main__present h2{
  text-align:center;
  font-size:32px;
  font-weight:500;
  margin-bottom:50px;
}

.main__present h2{
  padding-bottom:57px;
}

.main-about__grid{
  padding-top:112px;
}

.main__projects ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.main__projects h3{
  color:#ffffff;
  font-size:21px;
  margin-bottom:10px;
}
.main__projects p{
  color:#ffffff;
  font-size:16px;
}
.main__projects li{
  position:relative;
}
.main__projects li::before{
  content:"";
  display:block;
  width:50px;
  height:50px;
  position:absolute;
  background-image:url(../images/icon.svg);
  top:0;
  left:0;
}
.main__projects li div{
  margin-left:70px;
}

.main__video iframe{
  width:1100px;
  height:600px;
}

@media (max-width: 1150px){
  [class$=__grid]{
    padding:5%;
  }
  .container{
    display:grid;
    grid-template-columns:1fr 100% 1fr;
    grid-template-rows:repeat(5, auto);
  }
  .main__video iframe{
    width:100%;
    height:600px;
  }
}

@media (max-width: 930px){
  .main__video iframe{
    height:auto;
  }
  .header__navigation ol{
    gap:0.6rem;
    margin-bottom:20px;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
  }
  .header__navigation ol a{
    vertical-align:middle;
    font-size:0.65rem;
  }
  .header__content h1{
    font-size:2.1rem;
    margin-bottom:30px;
    text-align:center;
  }
  .header__content p{
    color:#727272;
    line-height:1.3rem;
    margin-bottom:30px;
    text-align:center;
    width:100%;
    font-size:1rem;
  }
  .header__content button{
    font-size:1.2rem;
    padding-block:6px;
    padding-inline:12px;
    margin:0 auto;
    display:block;
  }
  .main__about p, .main__present p{
    color:#727272;
    line-height:1.3rem;
    margin-bottom:30px;
    text-align:center;
    width:100%;
    font-size:1rem;
  }
  .main__about h2, .main__present h2{
    font-size:1.6rem;
    margin-bottom:22px;
  }
  .main__present p{
    color:#727272;
    line-height:1.3rem;
    margin-bottom:30px;
    text-align:center;
    width:100%;
    font-size:1rem;
  }
  .main__present h2{
    padding-bottom:0;
    font-size:1.6rem;
    margin-bottom:22px;
  }
  .main__projects ul{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    gap:1.2rem;
  }
  .main__projects h3{
    font-size:1.6rem;
    margin-bottom:12px;
    text-align:center;
  }
  .main__projects p{
    font-size:1rem;
    text-align:center;
  }
  .main__projects li{
    position:static;
  }
  .main__projects li div{
    margin-left:0;
  }
  .main__projects li::before{
    display:none;
  }
  .footer__grid h3{
    font-size:1.5rem;
    padding-bottom:5px;
  }
  .footer__grid p{
    font-size:1rem;
  }
}

@media (max-width: 375px){
  [class$=__grid]{
    padding-block:20px;
    padding-inline:0;
  }
  .header__navigation ol li{
    padding:2px;
  }
  .header__navigation ol li a{
    font-size:0.5rem;
  }
  .header__content h1{
    font-size:2rem;
    margin-bottom:20px;
  }
  .header__content button{
    font-size:1rem;
    padding-block:5px;
    padding-inline:10px;
  }
  .header__content p{
    color:#727272;
    line-height:1.2rem;
    margin-bottom:20px;
    font-size:0.8rem;
  }
  .main__about p, .main__present p{
    color:#727272;
    line-height:1.2rem;
    margin-bottom:20px;
    font-size:0.8rem;
  }
  .main__about h2, .main__present h2{
    font-size:1.5rem;
    margin-bottom:20px;
  }
  .main__present p{
    color:#727272;
    line-height:1.2rem;
    margin-bottom:20px;
    font-size:0.8rem;
  }
  .main__present h2{
    font-size:1.5rem;
    margin-bottom:20px;
  }
  .main__projects ul{
    gap:1rem;
  }
  .main__projects h3{
    font-size:1.5rem;
    margin-bottom:10px;
  }
  .main__video{
    display:none;
  }
}